.card {
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  height: 35px;

  .card-identifier {
    width: 5px;
    background: #6d6d6d;
  }

  .card-remove-btn {
    border: 0;
    background: none;
  }
}