@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');

* {
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  letter-spacing: 1px;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pad {
  &-reset {
    padding: 0px;
  }

  &-sm {
    padding: 4px;
  }

  &-md {
    padding: 8px;
  }

  &-lg {
    padding: 12px;
  }

  &-xl {
    padding: 16px;
  }

  &-sl {
    padding: 20px;
  }
}

.inset {
  &-reset {
    margin: 0px;
  }

  &-sm {
    margin: 4px;
  }

  &-md {
    margin: 8px;
  }

  &-lg {
    margin: 12px;
  }

  &-xl {
    margin: 16px;
  }

  &-vert {
    &-sm {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  
    &-md {
      margin-top: 8px;
      margin-bottom: 8px;
    }

    &-lg {
      margin-top: 12px;
      margin-bottom: 12px;
    }

    &-xl {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }

  &-top {
    &-reset {
      margin-top: 0px;
    }

    &-sm {
      margin-top: 4px;
    }
  
    &-md {
      margin-top: 8px;
    }

    &-lg {
      margin-top: 12px;
    }

    &-xl {
      margin-top: 16px;
    }
  }

  &-bottom {
    &-sm {
      margin-bottom: 4px;
    }
  
    &-md {
      margin-bottom: 8px;
    }

    &-lg {
      margin-bottom: 12px;
    }

    &-xl {
      margin-bottom: 16px;
    }
  }
}

.font {
  &-sm {
    font-size: 14px;
  }

  &-md {
    font-size: 16px;
  }

  &-lg {
    font-size: 18px;
  }

  &-xl {
    font-size: 20px;
  }

  &-sl {
    font-size: 22px;
  }

  &-color {
    &-light {
      color: #6d6d6d;
    }

    &-danger {
      color: #dc004e;
    }
  }
}

.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }
}

.items {
  &-center {
    align-items: center;
  }
}

.justify {
  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }
}

.full {
  &-width {
    width: 100%;
    box-sizing: border-box;
  }

  &-height {
    height: 100%;
    box-sizing: border-box;
  }
}


